
//Define la altura de la barra de navegación en 110px

$navbar-item-img-max-height: 5rem;


//Define el ancho mínimo para mantener la barra de navegación antes de cambiar al menú hamburguesa responsive

$navbar-breakpoint: 1100px;

@import "theme/_main";


//Carga las fuentes web de Google

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//Importa los estilos gráficos definidos en 2023
//@import './index.scss';


//Se define el tipo de letra para el sitio

body, button, input, select, textarea {
  font-family: 'Lato', sans-serif;
//  font-family: 'Barlow Condensed', sans-serif;
}


//Define la barra de menú fija

.navbar {
	background-color: white;
	floating: true;
	//position: sticky;
	background-size: cover;
	top: 0;
	width: 100%;
	box-shadow: 0px 5px 40px rgba(0,0,0,0.1);
	.navbar-brand {
 		background-size: cover;
	  }
}


//Pone la barra de menú en el centro

.navbar-content {
  flex-grow: unset;
	margin: auto;
}


//Ajusta peso del texto del banner

.feature-content h3 strong {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.8em;
}
.feature-content h3 em {
	color: #ffffff;
	text-transform: uppercase;
	font-style: normal;
	font-weight: 900;
	font-size: 1.2em;
}


//Corrige separación entre elementos de listas

.content li, .feature-content li {
    margin-bottom: 0.6em;
}


//Corrige el ancho de la sección split

section.splitBanner {
	max-width: $navbar-breakpoint;
}


//Qitar líneas divisorias

section.features, section.splitBanner, section.product, section.textBanner {
    border-bottom: none;
}


//Tarjetas destacadas

article.feature {
	flex: 0 0 350px;
	border: none;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.10);
//	border-radius: 3px;
	border-radius: 20px 20px 0 0;
}


// LOS CAMBIOS PARA APLICACIÓN DE IDENTIDAD VISUAL

.postHeader .feature-img {
	border: none;
}
.feature .feature-img {
    border-bottom: none;
}
.has-8-elements .feature-pre-title {
	background: rgba(0,0,0,0.25);
	position: absolute;
	top: -225px;
	left: -15px;
	border-radius: 15px;
	font-size: 0.8em;
	padding: 3px 12px;
	//box-shadow: 0px 0px 10px rgba(0,0,0,0.10);
	color: white;
	font-size: x-small;
	font-weight: 600;
}


// TODAS LAS TABLAS EN EL CONTENIDO

.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    //text-align: left;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
.table thead tr {
    background-color: #9EC649;
}
.table th,
.table thead td,
.table thead th {
    border-width: 0;
    border: none;
    font-weight: bold;
    color: #ffffff;
    padding: 12px 15px;
}
.table thead td a,
.table thead th a {
    color: #ffffff;
}
.table td,
.table tbody td,
.content table td,
.feature-content table td {
    border: none;
    border-width: 0 0 0px;
    padding: 7px 20px;
}
.table tbody tr {
//*    border-bottom: 1px solid #dddddd;
    border: none;
}
.table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}
.table tbody tr:last-of-type {
    border-bottom: 2px solid #9EC649;
}
.table tbody tr.active-row {
    font-weight: bold;
    color: #214F53;
}
.content table thead th,
.content table thead td {
    color: #ffffff;
}
.content table td, .feature-content table td, .content table th, .feature-content table th {
        padding: 12px 15px;
}


// TABLAS DE COLORES

.tablaAzul table thead tr {
    background-color: #3D67AF;
}
.tablaAzul table tbody tr:last-of-type {
    border-bottom: 2px solid #3D67AF;
}
.tablaMorada table thead tr {
    background-color: #7277F7;
}
.tablaMorada table tbody tr:last-of-type {
    border-bottom: 2px solid #7277F7;
}
.tablaAnaranjada table thead tr {
    background-color: #F5B858;
}
.tablaAnaranjada table tbody tr:last-of-type {
    border-bottom: 2px solid #F5B858;
}


//Le da el estilo redondeado a los botones

.button {
	text-transform: initial;
	font-size: smaller;
	font-weight: 600;
	border-radius: 100px;
	padding-bottom: 1em;
	padding-top: 1em;
	padding-left: 2em;
	padding-right: 2em;
	margin-bottom: 20px;
	box-shadow: 2px 2px 7px #00000015;
}
.button.is-primary {
	border: none;
	background: rgb(232,60,71);
	background: linear-gradient(171deg, rgba(232,60,71,1) 0%, rgba(237,109,45,1) 50%, rgba(245,184,87,1) 85%, rgba(245,222,123,1) 100%);
}


//Animación del botón

.button.is-primary {
	cursor: pointer;
	position: relative;
	transition: 0.5s;
}

.button.is-primary:after {
	content: '▶';
	font-family: system-ui;
	font-size: medium;
	position: absolute;
	opacity: 0;
	right: 5px;
	transition: 0.5s;
}
.button.is-primary:hover {
	padding-right: 3em;
}

.button.is-primary:hover:after {
	opacity: 1;
	right: 0.8em;
}


//Tamaño de íconos de cifras

.statistic .feature-img {
    width: 30%;
}


//Texto del banner home a la izquierda y ancho de esa zona

/*
.floatingHero .feature-content {
	text-align: left;
	margin: auto;
	max-width: $navbar-breakpoint;
	min-width: $navbar-breakpoint;
}
.floatingHero .feature-content p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
*/


//Corrige el ancho de la tabla de datos de GBIF

/*
.css-13kxine {
	max-width: 1100px;
	margin: auto;
}
*/


//Los estilos que ya estaban

@media screen and (min-width: $navbar-breakpoint) {
  .navbar {
    .navbar-brand {
      opacity: none;
      background-image: none;
    }
  }
}


// You can add additional styling here

.iframe-box {
  padding: 24px;
  iframe {
    @extend .box;
    width: 80%;
    max-height: 80vh;
    margin-left: auto;   /* Automatic margin from left */ 
    margin-right: auto; /* Automatic margin from right */ 
    border: 1px solid #00000011;
  }
}


// for usage on /Gobernanza/ComiteDirectivo # Tabla para las entidades del comité directivo

.directivo table img {
  width: 60px;
  min-width: 60px; /* Selección del ancho y alto de las celdas*/
  height: 150px;
  min-height: 150px;
}
th.orga1, th.orga2, th.orga3, th.orga4 { /* Fijar el tamaño de las columnas, se puede fijar por individual cada una con un % diferente o en grupo*/
  width: 25%;
  border: 0px;
}


// for usage on /home cifras de publicación

.cifras table img {
  width: 100px;
  min-width: 100px;
  height: 100px;
  min-height: 100px;
  background: white;
}


// Ajuste de color para el features = cards de post y otros card incluidos via yml

.features {
  // background-image: url('/assets/images/carlo_test_2a1.png');
  // background-size: cover;
  background-attachment: fixed; // Imagen fija, que no se duplique para ocupar el espacio
  background-color: #FFFFFF // Fondo blanco
}

.content figure, .feature-content figure, .content figure:not(:last-child), .feature-content figure:not(:last-child) {
  margin-bottom: 0em;
  margin-top: 0em;
  margin-left: auto;
  margin-right: auto;
}
