$navbar-item-img-max-height: 110px;
$navbar-breakpoint: 1100px;

@import "theme/_main";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


//You can add additional styling 

.navbar {
  background: none;
  position: sticky;
  top: 0;
  width: 100%;
  .navbar-brand {
    background-size: cover;
  }
 // .navbar-menu {
 //   opacity: 0.90;// then we can control the opacity for the dropdown alone
//  }
}

@media screen and (min-width: $navbar-breakpoint) {
  .navbar {
    //opacity: 0.90;
    background-size: cover;
    .navbar-brand {
      opacity: none;
      background-image: none;
    }
  }
}

// You can add additional styling here
.iframe-box {
  padding: 24px;
  iframe {
    @extend .box;
    width: 80%;
    max-height: 80vh;
    margin-left: auto;   /* Automatic margin from left */ 
    margin-right: auto; /* Automatic margin from right */ 
    border: 1px solid #00000011;
  }
}


// for usage on /Gobernanza/ComiteDirectivo # Tabla para las entidades del comité directivo
.directivo table img {
  width: 60px;
  min-width: 60px; /* Selección del ancho y alto de las celdas*/
  height: 150px;
  min-height: 150px;
}
th.orga1, th.orga2, th.orga3, th.orga4 { /* Fijar el tamaño de las columnas, se puede fijar por individual cada una con un % diferente o en grupo*/
  width: 25%;
  border: 0px;
}

// for usage on /home cifras de publicación

.cifras table img {
  width: 100px;
  min-width: 100px;
  height: 100px;
  min-height: 100px;
  background: white;
}


// Ajuste de color para el features = cards de post y otros card incluidos via yml

.features {
  // background-image: url('/assets/images/carlo_test_2a1.png');
  // background-size: cover;
  background-attachment: fixed; // Imagen fija, que no se duplique para ocupar el espacio
  background-color: #FFFFFF // Fondo blanco
}
