$navbar-item-img-max-height: 3rem;

@import "theme/_main";

// You can add additional styling here
.iframe-box {
  padding: 24px;
  iframe {
    @extend .box;
    width: 80%;
    max-height: 80vh;
    text-align: center
    border: 1px solid #00000011;
  }
}
