$card-text-color: #0C0C0C;
article.feature{
    display: flex;
    flex-direction: column;
    padding: 1.5em;
	-webkit-box-shadow: 0px 4px 6px 2px rgba(27, 27, 27, 0.11);
    -moz-box-shadow: 0px 4px 6px 2px rgba(27, 27, 27, 0.11);
    box-shadow: 0px 4px 6px 2px rgba(27, 27, 27, 0.11);
    border-radius: 1em !important;
    .feature-img{
        border-radius: 1em !important;
        overflow: hidden;
    }
    .feature-img img{
        width: 100%;
    }
    .feature-title a{
        font-size: 1.5em;
        font-weight: 700;
        color: $card-text-color;
    }
    a{
        text-decoration: none;
    }
    .feature-pre-title{
        font-size: .75rem;
        opacity: .5;
    }
    .feature-categories .tags{

    }
}
section.splitBanner{
    display: flex;
    padding: 1.5em;
    border-radius: 1em !important;
    margin-bottom: 2em;
	-webkit-box-shadow: 0px 4px 6px 2px rgba(27, 27, 27, 0.11);
    -moz-box-shadow: 0px 4px 6px 2px rgba(27, 27, 27, 0.11);
    box-shadow: 0px 4px 6px 2px rgba(27, 27, 27, 0.11);
    .feature-img img{
        width: 100%;
    }
    .feature-img{
        width: 50%;
        border-radius: 1em !important;
        overflow: hidden;
    }
    .feature-content{
        margin-left: 1em;
        padding: 1em;
    }
    .feature-title a{
        font-size: 1.5em;
        font-weight: 700;
        color: $card-text-color;
    }
    &.splitBanner--reverse{
        flex-direction: row-reverse;
        .feature-content{
            margin-left: 0;
            margin-right: 1em;
        }
    }
}
