$text-color: #0C0C0C;
$primary-color: #ED6307;
$hover-color: #B54700;
.gbif-filterBar{
    button{
        background-color: transparent !important;
        border-radius: 0 !important;
        border: none;
        border-left: 1px solid $primary-color;
        transition: all .25s;
        color: $text-color !important;
        font-weight: 600;
        &:hover{
            background-color: transparent !important;
            color: $hover-color !important;
            text-decoration: underline;
        }
    }
    div button:nth-child(2){
        border-left: none;
        svg{
            display: none;
        }
        &::after{
            width: 1em;
            height: 1em;
            background-image: url(https://hp-colombian-biodiversity.gbif-staging.org/assets/css_images/close.png);
            content: "";
            background-size: 1em 1em;
        }
    }
    div div:last-child{
        border-right: 1px solid $primary-color;
    }
}
