
@import './texts.scss';
@import './button.scss';
@import './card.scss';
@import './callout.scss';
@import './collapse.scss';
@import './list.scss';
@import './check.scss';
@import './table.scss';
@import './tabs.scss';
@import './nav.scss';
@import './hero.scss';
@import './banner.scss';

@import url('https://fonts.googleapis.com/css?family=Lato:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Lato', sans-serif;
}
