$text-color: #0C0C0C;
$btn-color: #ED6307;
.table{
    border-radius: 0 !important;
    thead{
        tr{
            th{
                background-color: #C8C8C8;
                color: $text-color !important;
            }
        }
    }    
    tbody{
        tr{
            td{
                border: 1px solid #D5D5D5 !important;
            }
        }
    }
}
table{
    thead{
        tr{
            th{
                background-color: transparent !important;
                color: $text-color !important;
                div{
                    button{
                        color: $text-color !important;
                    }
                    div button{
                        color: #ed6307 !important;
                        margin-left: 1em !important;
                    }

                }
            }
        }
    }
    tbody{
        tr{
            td{
                color: $text-color !important;
                svg{
                    color: $text-color !important;
                }
            }
        }
    }
    .css-ozqw81:hover {
        background-color: #ed6307;
        border-color: #ed6307;
        color: white;
    }
}
